.page1{
    height: 120%;
    width: 100%;
   position: relative;
   background-color: #d1e5e9e1;
}

.aboutcontainer{
    height: 96%;
    width: 97%;
    background-color: rgb(250, 247, 222);
    border-radius: 15px;
    position: absolute;
    top: 11%;
    margin: 2vh 2vw;
    box-shadow: 3px 3px 2px rgb(48, 47, 47),-3px -3px 2px rgb(197, 197, 197);
}